p {
    text-align: justify;
    color: rgb(123, 29, 29);

}
h1 {
    text-align: center;
    color: blue;
    background-color: burlywood;
    font-style: oblique;
}
h2{
    text-align: left;
    color: darkgreen;
    font-size: medium;
    font-style: oblique;
   
}
table,th,td{
    border:1px solid red;
    background-color: azure;
    border-collapse: collapse;
    padding: 10px;
    
}
button{
    background-color: burlywood;

}
.image{
    display: flex;
    justify-content: space-between !important;
    gap: 50px;
    margin-bottom: 30px;
    margin-top: 30px;

}
